# Porta da aplicação Express
PORT=3000

# String de conexão com o banco PostgreSQL no Docker
# Formato: postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@<HOST>:<PORTA>/<POSTGRES_DB>
DATABASE_URL="postgresql://usuario:senha@localhost:5433/pescarte_db"

# Configurações de autenticação 
JWT_SECRET="chave_secreta_jwt"
JWT_EXPIRES_IN="1d"